*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

header {
    width: 420px;
    background-color: aquamarine;
    padding: 1em;
    margin: 1em auto;
    text-align: center;
    border: 5px dotted magenta;
    border-radius: 1em;
}

#buttons {
    width: 640px;
    margin: 1em auto;
    text-align: center;
    padding: 1em;

}

#wrapper {
    width: calc(800px + 5em);
    height: calc(800px + 5em);
    display: grid;
    place-items: center;
    background: red;
    border-radius: 2em;
    margin: 2em auto;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    background: white;
    margin: 0 auto;
}

.unit-box {
    border: 1px solid grey;
}